  <header class="" style="background-image: url('https://wallpaperplay.com/walls/full/d/4/2/193206.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="heading">
            <h1>Steven's Travel Blog</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-10 mx-auto">
        <br>
        <div>
          <a href="#">
            <h2 class="post-title">
            Top 10 Lost Locations in Vienna!
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Steven's Travel Blog Team</a>
            on November 8, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="#">
            <h2 class="post-title">
              Win a trip to a location of your choice!
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Steven's Travel Blog Team</a>
            on November 1, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="#">
            <h2 class="post-title">
              What is so beautiful about an uninhabited island?
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Steven's Travel Blog Team</a>
            on October 25, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="#">
            <h2 class="post-title">
              Our favorite spots in the southern hemisphere!
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Steven's Travel Blog Team</a>
            on October 18, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="#">
            <h2 class="post-title">
              Welcome to Steven's Travel Blog!
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Steven's Travel Blog Team</a>
            on October 11, 2019</p>
        </div>